[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "==3.5"
pyqtgraph = "==0.12.3"
numpy = "==1.22.0"
pandas = "==1.2.3"
PyQt6 = "*"

[dev-packages]

[requires]
python_version = "3.8"
